@import 'react-datepicker/dist/react-datepicker.css';

/************ Fonts ************/
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');


/************ Default Css ************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #001F3F ;
  color: #F8D47A ;
  font-family: 'Lato', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', sans-serif !important;
  margin: 0;
  padding: 0;
  line-height: normal;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

@media (min-width:1700px) {
	main .container {
		max-width: 100%;
		padding: 0 150px;
	}
}


/************ Hero Component ************/

.hero {
  margin-top: 0;
  display: flex;
  position: relative;
}


/************ Form Component ************/

.form-section .form-box{

  display: flex;
  justify-content: center;
}

.form-section .form-box .form-label{
  border: #001F3F, solid, 1px;
}

.form-section .form-box .select{
  background-color: #002B55;
  color: white;

}

.form-section .form-box .select option{
  background-color: #002B55;
  color: white;

}

.form-section .form-box .select:hover{
  border: 1px solid #F8D47A;

}


/***********React Date Picker***********/

.react-datepicker {
  font-family: 'Open Sans', sans-serif;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(255, 215, 0, 0.5), 0 1px 3px rgba(255, 215, 0, 0.3);
  border: none;
}

.react-datepicker__input-container input {
  background-color: #001F3F;
  text-align: center;
  border-radius: 10px;

}

.react-datepicker__input-container input:hover{
  box-shadow: 1px 1px 5px #98FF98;
  cursor: pointer;

}

.react-datepicker__header {
  background-color: #001F3F;
  border-bottom: 1px solid #F8D47A;
}

.react-datepicker__current-month {
  color: #F8D47A;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  color: #001F3F;
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: #F8D47A;
  color: #001F3F;
}

.react-datepicker__day:hover {
  background-color: #F8D47A;
}


/*********** Buttons ***********/

.submit-btn:hover{
  background-color: #F8D47A;
  color: #001F3F;
}

.submit-btn{
  border: #F8D47A 1px solid;
  padding: 10px 15px 10px 15px;
  font-size: 1.2em;
  background-color: #002B55;
  color: #F8D47A;
}

/*********** Activity Card ***********/

.activity-bx .info-bx{
  background-color: #002B55;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.activity-bx h2{
  color: #F8D47A;
  font-family: 'Lato', serif !important;
  padding-bottom: 3px;
  margin-left: 3px;
}

.activity-bx .link-bx{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


